body {
  font-family: "Open Sans", sans-serif;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray-dark;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    -webkit-animation-name: moveInRight;
    animation-name: moveInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from($color-primary-light),
    to($color-primary-dark)
  );
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;

  &:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-gray-dark, 0.2);
  }

  &--white {
    color: $color-white;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: $color-gray-dark-2;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  font-weight: 400;
  color: $color-gray-dark;

  li {
    margin-left: 2rem;
    padding: 0.3rem 0;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.hr {
  display: block;
  border-bottom: 1px solid $color-gray-light-2;
  position: relative;
  width: 100%;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: $color-white;
    border: 0.2rem solid $color-gray-light-2;
  }
  &--short {
    width: 32%;
  }
  &--left {
    margin-left: 0;
    &::after {
      position: absolute;
      top: 100%;
      left: 0%;
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
    }
  }
  &--right {
    margin-left: auto;
    margin-right: 0;
    &::after {
      position: absolute;
      top: 100%;
      left: 100%;
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
    }
  }
  &--center {
    margin-left: auto;
    margin-right: auto;
  }
}

.fancy-text {
  color: $color-primary;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  &:hover {
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    -webkit-box-shadow: 0 1rem 2rem rgba($color-gray-dark, 0.4);
    box-shadow: 0 1rem 2rem rgba($color-gray-dark, 0.4);
  }
}
